<!DOCTYPE html>
<html lang="ko">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문 결제</title>
    <link rel="stylesheet" href="css/HalmeStyle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css" />
</head>
<body>
    <header>
        <img src="img/logo.png">
    </header>
    <div class="orderWrapper">
        <div class="unselected"> <a href="/cart">장바구니</a></div>
        <div class="selected"> <a href="/payAddress">주문결제 - 배송지</a></div>
        <div class="unselected">주문결제 - 완료</div>
        <div class="unselected">주문내역 보기</div>
    </div>
    
    <form action="/detailPayDone" method="get">
        <div class="payAddressContainer" style="display: flex; flex-direction: column; align-items: center; margin-top: 5%; ">
            <div style="display: flex; flex-direction: column;">
                <div style="font-size: 50px; font-weight: bold;">배송주소</div>
                <div style="margin-top: 45px;"> 
                    <span style="margin-top:45px">
                        <input style="display:none;" name="name">  <span id="name" style="font-size: 45px;" >{{ loginAddress.userName }}</span>
                        <span id="number" style="font-size: 45px; margin-left: 20px;">{{ loginAddress.userPhone }}</span>
                </div>
                <div id="address" style="font-size: 45px; margin-top:20px">{{ loginAddress.userAddress }}</div>
            </div>
        
            <div  style="display: flex; justify-content: center; margin-top:90px;">
                <button type="button" class="btn btn-outline-dark" style="font-size: 30px; margin-right: 50px;" onclick="onHandleClick( )"> 배송지 변경</button>
              
                <!-- hidden 필드-->
                <input type="hidden" name="reqFoodTypeId" value="{{ reqFoodTypeId }}">
                <!-- hidden 필드-->
                <button type="submit" class="btn btn-outline-dark" style="font-size: 30px;" onclick="goToDetailPayDone('{{ reqFoodTypeId }}')"> 구매하기</button> 
            </div>
    </form> 

             <footer>
                <div>
                    <p style="font-size: 30px; font-weight: bolder;">할미 고객센터 1234-5678</p>
                        <div>평일 09:00~18:00<br>
                        점심시간: 12:00~13:00<br>
                        주말/ 공휴일 휴무</div>
                </div>
        
                <div>
                    <p style="font-size: 30px; font-weight: bolder;">회사 정보</p>
                    <div>상호: (주) 할미  대표: 홍길동  주소: 인천광역시 연수구 송도동 12-1 <br>
                        사업자등록번호: 123-45-6789 <br>
                        대표전화: 1234-5678  팩스: 12-3456-78<br> <br>
                        COPYRIGHT © 2023 HALME ALL RIGHTS RESERVED</div>
                </div>
            </footer>

    <script>

        console.log(reqFoodTypeId);
        function goToDetailPayDone() {
            const url = `/detailPayDone?foodTypeId=${foodTypeId}&productPrice=${productPrice}&productImage=${productImage}`;
            window.location.href = url;
        }

        const address = document.getElementById("address");
        function onHandleClick()
        {   
            let newAddress = prompt('새로운 주소를 입력해주세요', address.innerText);
            console.log(newAddress);

            if (newAddress === "")
                {
                    alert("주소지를 입력해주세요")
                }
            else if(newAddress===null)
            {
                newAddress = address.innerText;
            }
            else {
                address.innerText=newAddress;

            }
        }
    </script>
    
</body>
</html>