<!DOCTYPE html>
<html lang="ko">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/ky.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css" />
    <title>메인페이지</title>
</head>

<body>
    <header>
        <img src="img/logo.png" alt="이미지1">
        <h1 style="margin: 5%;">선택해주세요</h1>
    </header>
    <div class="container">
        <div id="list_1">
            <a href="/search">상품 이름으로 찾기</a>
            <a href="/category">상품 종류로 찾기</a>
        </div>
        <div id="list_2">
            <a href="/cart">장바구니 보기</a>
            <a href="/pointCharge">포인트 충전하기</a>
        </div>
    </div>
    <div style="margin: 5%;">
       <button class="btn btn-outline-dark" style="font-size: 30px; width: 30%;" onclick="location.href='/login'">로그인</button>
    </div>
    <footer>
        <div>
            <p style="font-size: 30px; font-weight: bolder;">할미 고객센터 1234-5678</p>
                <div>평일 09:00~18:00<br>
                점심시간: 12:00~13:00<br>
                주말/ 공휴일 휴무</div>
        </div>

        <div>
            <p style="font-size: 30px; font-weight: bolder;">회사 정보</p>
            <div>상호: (주) 할미  대표: 홍길동  주소: 인천광역시 연수구 송도동 12-1 <br>
                사업자등록번호: 123-45-6789 <br>
                대표전화: 1234-5678  팩스: 12-3456-78<br> <br>
                COPYRIGHT © 2023 HALME ALL RIGHTS RESERVED</div>
        </div>
    </footer>
</body>

</html>