<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/ky.css">
    <title>검색</title>
</head>
<body>
    <header>
        <img src="img/logo.png" alt="이미지1">
        <h1 style="margin: 5%;">상품 이름을 입력해주세요</h1>
    </header>
    <form id="frm" name="Search_result" action="/searchResult" method="get">
        <div class="Search">
            <input type = "text" style="margin-left: 8%; text-align: center; width:45%; height:2cm; border: 6px solid; border-color: #00573F; font-size: x-large;"  id="product" name="product">
            <button type="submit" style = "text-align:center; width: 10%; height: 30px; font-weight: bold; font-size: 30px; background-color: transparent; border: 0;">검색</button>
        </div>
    </form>
    <footer>
        <div>
            <p style="font-size: 30px; font-weight: bolder;">할미 고객센터 1234-5678</p>
                <div>평일 09:00~18:00<br>
                점심시간: 12:00~13:00<br>
                주말/ 공휴일 휴무</div>
        </div>

        <div>
            <p style="font-size: 30px; font-weight: bolder;">회사 정보</p>
            <div>상호: (주) 할미  대표: 홍길동  주소: 인천광역시 연수구 송도동 12-1 <br>
                사업자등록번호: 123-45-6789 <br>
                대표전화: 1234-5678  팩스: 12-3456-78<br> <br>
                COPYRIGHT © 2023 HALME ALL RIGHTS RESERVED</div>
        </div>
    </footer>
</body>
</html>