*{
    font-family: 'Noto Sans KR', sans-serif;
}
header {
    text-align: center;
}
img{
    width: 202px;
    height: 173px;
}
.orderWrapper {
    display: flex;
    justify-content:space-around;
    align-content: center;
    font-size: 30px;
    width: 100%;
}
#productImg{
    width:196px;
    height: 196px;
}

.orderWrapper a {
    text-decoration: none;
    color: inherit;
}


.selected {
    border-bottom: 5px solid #00573f;
    width: 100%;
    height: 70px;
    text-align: center;

}
.unselected{
    width:100%;
    text-align: center;
    height: 70px;
    border-bottom: 5px solid #D9D9D9;
}
a:hover {
    color:#00573F
} 

.signupWrapper {
    text-align: center;
    margin-top: 100px;
    font-size: 25px;
}

.signupContent{
    display: flex;
    justify-content: center;
    align-content: center;
}
.signupContent div{
    border: 1px solid black;
    width: 310px;
    height: 128px;
    line-height: 128px;
    background-color: #F1F1F1;;
    font-size: 40px;
}
.signupContent input {
    width: 972px;
    height: 128px;
    font-size: 40px;
}
.signupContent input ::placeholder {
    color: #ABABAB;
   padding-left: 20px;
}
.signupWrapper button {
    margin-top:40px;
    margin-bottom: 30px;
    font-size: 30px;
}

footer {
    display: flex;
    justify-content: space-around;
    height: 100%;
    width:100%;
    color:black;
    margin-top: 150px;
    border-top: 3px solid #D9D9D9;
    padding-top: 50px;
    padding-bottom: 50px;
}


/*signupDoneWrapper 페이지*/
.signupDoneWrapper{
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
}

.signupDoneWrapper p {
    margin:40px;
}
.signupDoneWrapper button {
    margin-bottom: 30px;
    margin-top: 50px;
    font-size: 30px;
    padding-left: 150px;
    padding-right: 150px;
}


/* cart 페이지 */
.product {
    display: flex; 
    justify-content: center; 
    align-items: top; 
    margin: 1cm; 
    margin-top: 80px;
}

/* orderlist 페이지 */
.orderSelected {
    display:inline-block; 
    border-bottom: 6px solid #00573F;; 
    width:17.7%; 
    text-align: center; 
    font-size: 25px;
  
}
.orderunSelected {
    display:inline-block; 
    border-bottom: 6px solid #D9D9D9; ; 
    width:17.7%; 
     text-align: center; 
    font-size: 25px;
    margin-left:-5px;
}


/* point 페이지 */
.point{
    text-decoration: none;
    color: inherit;

}